html {
  background-color: #000000;
  font-family: "Inter", sans-serif;
  /* font-family: "Titillium Web", sans-serif; */
}

#gifBox2 {
  position: absolute;
  top: 1050px;
  /* 1300 */
  left: 280px;
  transform: scaleX(-1);
}

#gifBox {
  position: absolute;
  top: 600px;
  /* 700 */
  left: 290px;
  transform: scaleX(-1);
}

#DasHierIstImmerNochWerbung {
  width: 200px;
  height: auto;
  position: absolute;
  top: 30px;
  left: 30px;
}

#middleFingerMessage {
  position: absolute;
  color: white;
  top: 60px;
  left: 450px;
  font-size: 30px;
}

#Nils {
  display: none;
  position: absolute;
  width: 1080px;
  height: auto;
}

#anweisung {
  color: white;
  position: absolute;
  top: 1500px;
  left: 450px;
  font-size: 40px;
}

#anweisung2 {
  color: white;
  position: absolute;
  top: 1555px;
  left: 400px;
  font-size: 40px;
}