#gifBox2 {
  position: absolute;
  top: 1500px;
  /* 1300 */
  left: 350px;
  transform: scaleX(-1);
}

#gifBox {
  position: absolute;
  top: 900px;
  /* 700 */
  left: 150px;
  transform: scaleX(-1);
}

#DasHierIstImmerNochWerbung {
  width: 200px;
  height: auto;
  position: absolute;
  top: 30px;
  left: 30px;
}


#middleFingerMessage {
  position: absolute;
  color: white;
  top: 60px;
  left: 450px;
  font-size: 30px;
}